{% extends "base.html" %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='district.css') }}"
{% endblock %}
{% block body %}
<div>
    <h2>
        {% if district_info[0].startswith("HD") %}
        House
        {% else %}
        Senate
        {% endif %}
        District {{ district_info[0][2:] }}
    </h2>
    <h3>Representative history</h3>
    <ul>
    {% for name, party, start, end in reps %}
    <li>
        {{ start|date }} to {{ end|date }}: {{ name }} ({{party }})
    </li>
    {% endfor %}
    </ul>
    <form action="/similar" method="POST">
        <input name="district" type="hidden" value="{{ district_info[0] }}" />
        <input class="result-submit" type="submit" value="Show me other districts like this one" />
    </form>
    <form action="/unsimilar" method="POST">
        <input name="district" type="hidden" value="{{ district_info[0] }}" />
        <input class="result-submit" type="submit" value="show me districts least like this one" />
    </form>
</div>
{% endblock %}